<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#333333">
    <meta property="og:site_name" content="Lichthagel">
    <title>Lichthagel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>
    <link rel="canonical" href="https://lichthagel.de/"/>
    <script>
        var host = "lichthagel.de";
        if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
            window.location = window.location.toString().replace(/^http:/, "https:");
        }

        function chgcolor(color, elem) {
            document.getElementById("main-heading").style.color = color;
            elem.style.color = color;
        }

        function revertcolor(elem) {
            document.getElementById("main-heading").style.color = "#ccc";
            elem.style.color = "#888";
        }
    </script>
</head>
<body>
<div class="main-heading" id="main-heading">
    <h1>Lichthagel</h1>
</div>
<div class="container">
    <span class="discord-copy" id="discord-copy"></span>
    <div class="social-media">
        <% links.forEach(function(link) { %>
            <a href="<%= link.url %>" target="_blank">
                <div class="social-media-element" onmouseover="chgcolor('<%= link.color %>', this)"
                     onmouseout="revertcolor(this)">
                    <i class="<%= link.icon %>"></i>
                    <span class="social-media-text"><%= link.display_name %></span>
                </div>
            </a>
        <% }) %>
    </div>
    <div class="footer">
        <a href="https://gitlab.com/Lichthagel/lichthagel.gitlab.io#readme" target="_blank">README</a>
    </div>
</div>
<script>

    let img = Math.floor(Math.random() * <%= images %>);

    function chgimage() {
        if (Math.max(document.documentElement.clientWidth, window.innerWidth || 0) >= 700) {
            document.body.style.backgroundImage = "url(\"img/" + img + ".jpg\")";
        } else {
            document.body.style.backgroundImage = null;
        }
    }

    chgimage();
    window.addEventListener("resize", chgimage);

</script>
</body>
</html>

