<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="{{redirect.color}}">
    <meta property="og:site_name" content="Lichthagel - {{redirect.display_name}}">
    <title>Lichthagel - <%= link.display_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css"/>
    <link rel="canonical" href="https://lichthagel.de/{{redirect.id}}"/>

    <meta http-equiv="refresh" content="0; URL=<%= link.url %>">
    <script>
        var host = "lichthagel.de";
        if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
            window.location = window.location.toString().replace(/^http:/, "https:");
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="main-heading" id="main-heading">Lichthagel</h1>
    <div class="social-media">
        <div class="redirect" style="color: <%= link.color %>;">
            <i class="<%= link.icon %>"></i>
            <span>Du wirst zu <%= link.display_name %> weitergeleitet.</span>
        </div>
    </div>
    <div class="footer">
        <a href="https://gitlab.com/Lichthagel/lichthagel.gitlab.io#readme" target="_blank">README</a>
    </div>
</div>
</body>
</html>

