body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #888;
}

a, a:link, a:visited, a:hover, a:active {
    color: #888;
    text-decoration: none;
}

.container {
    background: white;
    height: 100vh;
    position: absolute;
    right: 0;
}

.main-heading {
    color: #ccc;
    transition: all .5s;
    font-size: 1.4rem;
}

.main-heading h1 {
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: 400;
}

.main-heading span {
    font-weight: 900;
}

.social-media {
    display: flex;
    flex-direction: column;
    transition: all 1.5s;
}

.social-media::-webkit-scrollbar {
    width: 12px; /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

.social-media::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.social-media::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

.social-media-element {
    font-size: 2em;
    transition: all .5s;
    padding-left: .5em;
    border-left: 5px solid #fff;
}

.social-media-text {
    line-height: 2em;
    margin-left: 0.3em;
    right: 0;
}

.discord-copy {
    display: block;
    text-align: center;
    transition: all 1.5s;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 1em;
}

.footer {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.footer * {
    transition: all .5s;
}

.footer *:hover {
    color: #000;
}

.redirect {
    font-size: 2em;
    margin-top: 2.5em;
}

@media (min-width: 700px) {
    body {
        overflow: hidden;
    }

    .container {
        width: 500px;
    }

    .main-heading {
        transform: rotate(-90deg);
        transform-origin: top left;
        position: absolute;
        top: 25rem;
        display: inline-block;
        mix-blend-mode: color-dodge;
    }

    .social-media {
        position: absolute;
        left: 3em;
        top: 3.5em;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 85vh;
    }

    .social-media-element {
        width: 12.5em;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }

    .main-heading {
        text-align: center;
        background-image: url("../img/background.svg");
        background-color: #666;
        margin-top: 0;
        margin-bottom: .5em;
        padding: .75em 0;
        background-blend-mode: darken;
        background-position: center;
    }

    .main-heading h1 {
        font-size: 3em;
    }

    .social-media {
        position: absolute;
        margin-left: 2em;
        margin-right: 2em;
        left: 0;
        right: 0;
    }

    .footer {
        transform: rotate(-90deg);
        position: fixed;
        bottom: 2em;
        right: -.5em;
    }
}

